<!doctype html>

{% extends 'staticmodule/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!-- title block -->
{% block title_block %}
<title>Oppsdoor</title>
{% endblock %}
<!-- bodyblock -->
{% block body_block %}
<div class="container-fluid ">
	<div id="one" class="container-fluid mt-2 mb-4">
		<div class="row">
			<div class="col-md-6 col-sm-6 mb-4">
				<div class="opd-ban-text">
					<h1 class="display-3 pb-2 mt-2 mb-2">What we provide </h1>
					<br>
					<p class=" pt-2 mt-2 mb-2">Orvador is a boutique digital marketing agency working with small and
						medium
						businesses to
						help them growth hack their target market. We work with data-driven organic and paid marketing
						strategies that are specifically designed for your business goals.
					</p><br><br>
					<a class="btn  btn-lg rounded-pill" href="#" role="button"
						style="background-color: #3ae8ad; color:black;">Learn more</a>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 ">
				<img class=" image_master img-thumbnail " src="{% static '/images/image2.jpg' %}"
					alt="Oh shit Image is dead" style="border: 0px;">
			</div>
		</div>

	</div>
</div>
<div class="row ">
	<div class="col-md-4 col-sm-4">
		<hr style="background-color: silver; " width="10%" />
	</div>
	<div class="col-md-4 col-sm-4">
		<hr style="background-color: silver; " width="10%" />
	</div>
	<div class="col-md-4 col-sm-4">
		<hr style="background-color: silver; " width="10%" />
	</div>
</div>

<!-- div2 -->
<div class="container-fluid mb-2 pb-2 ">
	<div class="row ">

		<div class="font_style Text-Center p-3">
			<h4 class="display-4 text-dark p-1 font_style">Training Modules </h2>

		</div>

		<div class="row">
			<div class="col-md-3 col-sm-3 mb-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="{% static '/images/image2.jpg' %}" alt="zombie eat me">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of
							the
							card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 mb-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="{% static '/images/image2.jpg' %}" alt="devil steal my soul">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of
							the
							card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 mb-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="{% static '/images/image2.jpg' %}" alt="stack developer is lazy">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of
							the
							card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 mb-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="{% static '/images/image2.jpg' %}" alt="i love weed">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of
							the
							card's content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- section 3 -->
<div class="container-fluid banner_2">
	<div class="row ">
		<div class="font_style Text-Center p-3 ">
			<h4 class="display-4 nav_brand_color p-1 ">Training methodology </h2>

		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6 mb-4">
			<div class="opd-ban1-text">
				<h1 class="display-3 pb-2 mt-2 mb-2 text-light">What we provide </h1>
				<br>
				<p class=" pt-2 mt-2 mb-2">Orvador is a boutique digital marketing agency working with small and
					medium
					businesses to
					help them growth hack their target market. We work with data-driven organic and paid marketing
					strategies that are specifically designed for your business goals.
				</p><br><br>
				<a class="btn  btn-lg rounded-pill" href="#" role="button"
					style="background-color: #3ae8ad; color:black;">Learn more</a>
			</div>
		</div>
		<div class="col-md-6 col-sm-6 ">
			<img class=" image_master img-thumbnail " src="{% static '/images/image2.jpg' %}"
				alt="Oh shit Image is dead" style="border: 0px;">
		</div>
	</div>
	<div class="row ">
		<div class="col-md-4 col-sm-4">
			<hr style="background-color: rgb(0, 0, 0); " width="10%" />
		</div>
		<div class="col-md-4 col-sm-4">
			<hr style="background-color: rgb(0, 0, 0); " width="10%" />
		</div>
		<div class="col-md-4 col-sm-4">
			<hr style="background-color: rgb(0, 0, 0); " width="10%" />
		</div>
	</div>
</div>
<!-- section 4 -->
<div class="container-fluid mb-2 pb-2 ">
	<div class="row ">

		<div class="font_style Text-Center p-3">
			<h4 class="display-4 text-dark p-1 font_style">Our Team </h2>

		</div>

		<div class="row">
			<div class="col-md-3 col-sm-3 mb-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top rounded-circle" src="{% static '/images/image2.jpg' %}"
						alt="stack developer is lazy">

					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of
							the
							card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 mb-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top rounded-circle" src="{% static '/images/image2.jpg' %}"
						alt="stack developer is lazy">

					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of
							the
							card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 mb-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top rounded-circle" src="{% static '/images/image2.jpg' %}"
						alt="stack developer is lazy">
					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of
							the
							card's content.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 mb-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top rounded-circle" src="{% static '/images/image2.jpg' %}"
						alt="stack developer is lazy">

					<div class="card-body">
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of
							the
							card's content.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- section contact us -->
<div class="container-fluid banner_2" id="contact us">

	<div class="row banner_2 ">

		<br><br>

	</div>
	<div class="row bg-light">

		<div class="font_style Text-Center  p-1">
			<h4 class=" text-dark p-1 font_style">Contact us</h2>

		</div>

	</div>
	<div class="row banner_2">

		<div class="container_form mx-auto pt-3 pb-3">
			<form class="contact_form  " method="POST">
				{% csrf_token %}

				<div class="form-row contact_form">
					<div class="form-group col-md-6">
						<label for="name">
							<h3 class="text-light">Subject*</h3>
						</label>
						<input type="text" class="form-control" id="name" name="subject"
							placeholder="Enter the Subject here">
					</div>
					<div class="form-group col-md-6">
						<label for="email">
							<h3 class="text-light">Email*</h3>
						</label>
						<input type="email" class="form-control" id="email" name="email" placeholder="Your Email ">
					</div>
				</div>
				<div class="form-group">
					<label for="message">
						<h3 class="text-light">Message*</h3>
					</label>
					<textarea class="form-control" id="message" rows="5" name="message"
						placeholder="Your Message"></textarea>
				</div>
<p><small class="text-light">All * fields are required and we will not published your mail Id</small></p>
				<button type="submit" class="btn" style="background-color: #3ae8ad; color:White;">Send Mail</button>
			</form>
			
		</div>

	</div>
</div>

{% endblock %}